* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}

html, body  { 
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', Arial, Helvetica, 'DejaVu Sans', sans-serif;
	color: #2B2B2B;
	font-size: 14px;
	line-height: 1.5;
}


#wrapper, #searchInputWrapper {
	max-width: 1200px;
}


/* COLUMNS */

.col25 {
	width: 25%;
}

.col30 {
	width: 30%;	
}

.col33 {
	width:33%;
}

.col50 {
	width: 50%;
}

.col60 {
	width: 60%;
}

.col70 {
	width: 70%;
}

.col75 {
	width:75%;
}

.col25, .col30, .col33, .col50, .col60, .col70, .col75 {
	float: left;
}


/* COLUMNS */

/* GLOBAL STYLES */


.clear { 
	clear: both;
} 

a {
  text-decoration: none;
  color: #6e9f06;
}

a:hover, a:focus {
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
	padding-bottom:10px;
}

h6 {
	font-size: 110%;
}

h5 {
	font-size: 120%;
}

h4 {
	font-size: 130%;
}

h3 {
	font-size: 140%;
}

h2 {
	font-size: 150%;
}

h1 {
	font-size: 160%;
}


img {
	max-width: 100%;
	height: auto;
}

input {
	font-family: inherit;
}

input[type="submit"] {
	cursor: pointer;
}

textarea {
	vertical-align: top;
}

.smallestFont {
	font-size: 80%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

/* END GLOBAL STYLES */



#searchBlock {
	border-bottom: 1px solid #444;
	padding: 6px 110px 6px 0;
}

#searchInputWrapper {
	padding: 0 0 0 110px;
}

#searchBlock input {
	border: none;
	background: url('../../static/img/search.png') no-repeat 0px 49%;
	float: right;
	padding: 3px 3px 3px 20px;
	border: 2px solid transparent;
}

#searchBlock input:focus {
	outline: none;
	border: 2px solid #A7CF4F;
}


#contentMain, #footer {
	padding: 40px 0 0 110px;
}

#logo {
	padding: 40px 0;
	display: inline-block;
}

#menu {
	/* font-size: 90%; */
	font-weight: 600;
}

#menu li {
	display: inline-block;
	position: relative;
}

#menu li:after, #menu li:first-of-type:before, .prev-pag:before {
	content: "|";
	color: #bbb;
}

#menu li:after {
	padding: 0 0 0 4px;
}

#menu li:first-of-type:before {
	padding: 0 4px 0 0;
}

#menu li a {
	padding: 0 8px;
	color: inherit;
}

#menu .selectedMenu, .blue {
	color: #005494;
}

#contentBlock {
	padding: 50px 0 0 0;
}

#sideBar, .sideBar {
	max-width: 140px;
}

.sideBarTitles {
	border-top: 2px solid #666;
	padding: 4px 0 0 0;
	font-size: 80%;
}

.sideBarTitles a {
	color: #666;	
}

.sideBarTitles a:hover, .sideBarTitles a:focus, .sideBarTitles .selectedSideBarTitles {
	font-weight: 600; /* add js to get selected one later  */
	color: inherit;
}

.sideBarTitles p {
	padding: 0 0 18px 0;
}

#mainBar, .mainBar {
	padding: 0 0 0 60px;
}

#homeMain, .homeSecondaryImg {
	padding: 16px 0 60px 0;
}

.imgMainExib {
	padding: 0px 0 40px 0;
}

.homeSecondary {
	margin: 0 0.5% 0 0;
	padding: 0 20px 0 0;	
}

.homeSecondary .title, .selectedThumbs h1 {
	color: #4A4E51;
	padding: 0 0 10px 0;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} /* KAREN, add this class to anything p that requires an ellipsis  */  

.homeSecondary:last-of-type {
	margin-right: 0;
}

.homeCarousel {
	width: 50%;
	float: left;
}

.homeCarousel .slides li {
	padding: 0 24px 0 0;
}

.homeCarousel .slides li img {
	padding: 16px 0 0 0;
}

#homeSecondaryText {
	border-top: 2px solid #666; /* repeated for sidebar titles  */
	float: right;
	width: 32%;
	padding: 16px 30px 20px 10px;
	line-height: 1.8;
}

.selectedHeading {
	/* float: left; */
	padding: 0 0 30px 0;
}

.exibMain h1:first-of-type, .homeMain h1:first-of-type, .selectedHeading {
	margin-top: -9px; /* hackish to maintain symmetry between tops of both columns  */
}

.paginationThumbs {
	float: right;
}

.paginationThumbs span {
	padding: 0 0 0 16px ;
	cursor: pointer;
}

.prev-pag img {
	padding: 0 0 0 12px;
}

.prev-pag, .next-pag {
	/* vertical-align: top; */ /* change later when converted to vectors  */
	display: inline-block;
}

.footerLinks {
	border-top: 2px solid #A7CF4F;
	padding: 8px 4px;
}

.footerLinks span {
	padding: 0 20px 0 0;
}

#footer a {
	color: #777; /* change once default site link colour is approved  */
}

.thumbnailBlock .thumbEach:nth-of-type(4n+1) {
	clear: both;
} /* no clue how to remove padding from last row. firstly, we don't know how many there are in a row!  */

.thumbEach {
	font-size: 90%;
	font-weight: 600;
	padding: 0 24px 40px 0;
	display: block;
	color: inherit;
}

.thumbEach img {
	padding: 16px 0 0 0;
}

.zoom:before {
	content: url('../../static/img/search.png');
	padding: 0 6px 0 0;
}

.downloadPdf:before {
	content: url('../../static/img/down.png');
	padding: 0 4px 0 0;
}

#slideDescription {
	padding: 16px 30px 0 0;
	border-top: 2px solid #4A4E51;
}

#slideControlBox {
	padding: 0 0 40px 0;
}

#slideControlBox span {
	vertical-align: top;
	padding: 0 10px 0 0;
	display: inline-block;
}

.imgBio {
	padding: 20px 0 40px;
}

.exibContent, .bioContent, .anchorContent {
	padding: 0 40px 0 0;
}

.bioDownloadInfo {
	border-top: 2px solid #4A4E51;
	padding: 16px 0 0 0;
}

.anchorsCv, .anchorsExhibition {
	padding: 0 0 40px 0;	
	font-size: 90%;
}

.anchorsExhibition {
	padding-top: 40px;
}

.anchorsCv a, .anchorsExhibition a {
	margin: 0 12px 0 0;
	color: inherit;
}

.anchorsExhibition a:hover, .anchorsExhibition:focus, .anchorsCv a:hover, .anchorsCv a:focus, .anchorsCV, .selectedAnchors {
	border-bottom: 2px solid #005494; /* sanjay for js for each anchor selected  */
}

.anchorDateBlock {
	display: table-row;
	padding: 0 0 20px 0;
}

.anchorDate, .anchorInfo {
	display: table-cell;	
}

.anchorInfo {
	padding: 0 0 20px 20px;
}

.anchorInfo a:after, .linkExternal:after {
	content: "some icon";
	padding: 0 0 0 4px;
}

#mapMaskara {
	border: 1px solid #999;
}

#mapContentBlock {
	padding: 0 10px 0 40px;
}

#mapContent {
	font-size: 90%;
/* 	border-top: 2px solid #4A4E51;
 */	
}

#mapLinks {
	text-align: right;
	font-size: 80%;
}

#mapContent p:first-of-type{
	font-size: 100%;
	text-transform: uppercase;
	font-weight: 600;
	padding: 16px 0 0 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {

.col25, .col30, .col33, .col75, .col70, #searchBlock input, #homeSecondaryText, .homeCarousel {
	width: 100%;
	float: none;
}

#searchInputWrapper, #contentMain, #mainBar, .mainBar, .sideBarTitles, #footer {
	padding: 10px;
}

.bioDownloadInfo {
	border-top: none;
}

}

/* END MEDIA QUERIES */
