/*
fonticons not working on android 2.2
*/


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}

html, body  { 
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../static/fonts/icomoon.eot');
	src:url('../../static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/icons/icomoon.woff') format('woff'),
		url('../../static/fonts/icomoon.ttf') format('truetype'),
		url('../../static/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', Arial, Helvetica, 'DejaVu Sans', sans-serif;
	color: #2d2d2c;
	font-size: 14px;
	line-height: 1.5;
}


#wrapper {
	max-width: 1200px;
	padding: 0 10px 0 0;
}


/* COLUMNS */

.col25 {
	width: 25%;
}

.col30 {
	width: 30%;	
}

.col33 {
	width:33%;
}

.col50 {
	width: 50%;
}

.col60 {
	width: 60%;
}

.col65 {
	width: 65%;
}

.col70 {
	width: 70%;
}

.col75 {
	width:75%;
}

.col25, .col30, .col33, .col50, .col60, .col70, .col75 {
	float: left;
}


/* COLUMNS */

/* GLOBAL STYLES */


.clear { 
	clear: both;
} 

a {
  text-decoration: none;
  color: #939598;  /*6e9f06*/
}

a:hover, a:focus, a:active {
	color: #035595;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}


/*h1, h2, h3, h4, h5, h6 {
	padding-bottom:10px;
}*/

h6 {
	font-size: 110%;
}

h5 {
	font-size: 120%;
}

h4 {
	font-size: 130%;
}

h3 {
	font-size: 140%;
}

h2 {
	font-size: 150%;
}

h1 {
	font-size: 160%;
}


img {
	max-width: 100%;
	height: auto;
}

input {
	font-family: inherit;
}

input[type="submit"] {
	cursor: pointer;
}

textarea {
	vertical-align: top;
}

.smallerFont {
	font-size: 90%;
}

.smallestFont {
	font-size: 80%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.paddingBottom {
	padding-bottom: 30px; 
}

.marginBottom {
	margin-bottom: 30px;
}

.none {
	display: none; /* uses include adding class to hide pagination buttons  */
}

.fontIcon, .zoom:before, .downloadPdf:before {
	font-family: 'icomoon';
}

.downloadPdf {
	text-align: right;
	display: block;
}

.pag-active, .sideBarTitles a:hover, .sideBarTitles a:focus, .sideBarTitles .selectedSideBarTitles, .thumbEach, #mapContent p:first-of-type {
	font-weight: 600;
}

#contentMain {
	padding: 0 0 0 110px;	
}

#footer {
	padding: 40px 0 0 110px;
}

#logo {
	padding: 40px 0;
	display: inline-block;
}

.menu li {
	display: inline-block;
	position: relative;
}

.menu li:after, .menu li:first-of-type:before, .prev-pag:before {
	content: "|";
	color: #bbb;
}

/* #footer .menu {
	display: none;
}
 */
.prev-pag:before {
	padding-right: 16px;
/* 	position: absolute;
bottom: 2px;
 */	
	
}

.menu li:after {
	padding: 0 0 0 4px;
}

.menu li:first-of-type:before {
	padding: 0 4px 0 0;
}

.menu li a {
	padding: 0 8px;
	color: inherit;
}

.menu .selectedMenu, .menu li a:hover, .paginationThumbs span:hover, .blue, .linkExternal:hover, .pag-active, .paginationThumbs .blue, .homeSecondaryText p:nth-of-type(2), .homeSecondaryText p:nth-of-type(2) a {
	color: #035595;
}

#contentBlock {
	padding: 50px 0 0 0;
}

#sideBar, .sideBar {
	max-width: 140px;
}

.sideBarTitles {
	border-top: 2px solid #666;
	padding: 4px 0 0 0;
	font-size: 90%;
}

.sideBarTitles a {
	color: #666;	
}




.sideBarTitles a:hover, .sideBarTitles a:focus, .sideBarTitles .selectedSideBarTitles {
	/* add js to get selected one later  */
	color: inherit;
}

.sideBarTitles p {
	padding: 0 0 18px 0;
}

#mainBar, .mainBar {
	padding: 0 0 0 60px;
}

#homeMain, .homeSecondaryImg {
	padding: 16px 0 60px 0;
}

.imgMainExib {
	padding: 0px 0 40px 0;
}

.homeSecondaryText {
	min-height: 60px;
}

.homeSecondary {
	margin: 0 0.5% 0 0;
	padding: 0 20px 0 0;	
}

.homeSecondary .title, .selectedThumbs h1 {
	color: #4A4E51;
	padding: 0 0 10px 0;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} /* KAREN, add this class to anything p that requires an ellipsis  */  

.homeSecondary:last-of-type {
	margin-right: 0;
}

.homeCarouselText {
	min-height: 32px;
}

.homeCarousel {
	width: 50%;
	float: left;
}

.homeCarousel .slides li {
	padding: 0 24px 0 0;
}

.homeCarousel .slides li img {
	padding: 16px 0 0 0;
}

#homeSecondaryText {
	border-top: 2px solid #666; /* repeated for sidebar titles  */
	float: right;
	width: 32%;
	padding: 16px 30px 20px 10px;
	line-height: 1.8;
}

.selectedHeading {
	/* float: left; */
	padding: 0 0 30px 0;
}

.exibMain h1:first-of-type, .homeMain h1:first-of-type, .selectedHeading {
	margin-top: -9px; /* hackish to maintain symmetry between tops of both columns  */
}

/* .exibMain h1:first-of-type+p {
	margin-bottom: 20px;
} */

.paginationThumbs {
	float: right;
	padding: 0 20px 0 0;
}

.paginationThumbs span {
	padding: 0 16px 0 0;
	cursor: pointer;
	color: #666;
}

/* .paginationThumbs .prev-pag {
	padding: 0 0 0 8px;
} */

.prev-pag, .next-pag {
	/* vertical-align: top; */ /* change later when converted to vectors  */
	display: inline-block;
	position: relative;
	font-size: 90%;
}

#searchBlock {
	display: inline-block;
/*	float: right;
 	border-bottom: 1px solid #444;
padding: 6px 110px 6px 0;
 */}

#searchInputWrapper {
	/* padding: 0 0 0 5px; */
	border: 1px solid transparent;
	position: relative;
}

#searchInputWrapper .fontIcon {
	position: absolute;
	left: 6px;
	top: 5px;
	font-size: 130%;		
}

/* #searchInputWrapper:before {
	content: "z";
	font-family: "icomoon";
}
 */
#searchInputWrapper input:hover, #searchInputWrapper input:focus {
	outline: none;
	border: 1px solid #bbb;
	height: 28px;
}

#searchBlock input {
	border: none;
	padding: 4px 3px 4px 24px;
	font-size: 100%;		
}

#searchBlock input:focus {
	outline: none;
}

.footerBlock {
	padding: 6px 0;
}

.footerBlock .menu {
	padding: 6px 0 0 0;
} /* figure the hiding on small devices later  */

.footerMenuWrap {
	border-bottom: 2px solid #A7CF4F;	
	padding: 0 0 2px 0;
}

.footerLinks {
	/* padding: 4px; */
	font-size: 90%;
}

.footerLinks span {
	padding: 0 0 0 20px;
	/* line-height: 2; */
	display: inline-block;
}

.copyrightInfo {
	padding: 6px 0 0 0;
}

/* .footerLinks span:first-of-type {
	padding: 0;
}
 */
.footerLinks .footerList {
	background: #A7CF4F;
	display: inline-block;
	text-transform: uppercase;
	padding: 2px 8px;
	border: 4px solid #a7cf4f;
	font-weight: 700;
}

.footerList .fontIcon {
	font-size: 120%;
	padding: 0 4px 0 0;
	text-transform: lowercase;
	vertical-align: middle;
	font-weight: normal;
}

/* .thumbnailBlock .thumbEach:nth-of-type(4n+1) {
	clear: both;
} */ /* no clue how to remove padding from last row. firstly, we don't know how many there are in a row!  */



.thumbEach {
	font-size: 90%;
	padding: 0 24px 40px 0;
	display: inline-block;
	float: none;
	color: inherit;
	width: 24%;
}

.thumbEach img {
	padding: 16px 0 0 0;
}

.thumbEach img:hover, #carousel li img:hover {
	opacity: 0.8;
}

.zoom:before, .downloadPdf:before {
	font-size: 130%;
	padding: 0 6px 0 0;
	vertical-align: middle;
}

.zoom:before {
	content: "\z";
	line-height: 1.2;
}

.downloadPdf:before {
	content: "\61";
	line-height: 1.1;
}

#slideDescription {
	padding: 16px 30px 0 0;
	border-top: 2px solid #4A4E51;
}

#slideControlBox {
	padding: 0 0 30px 0;
}

.works {
	float: left;
}

.singleIcons {
	float: right;
}

.singleIcons span {
	display: inline-block;
}

.singleIcons span:first-of-type {
	padding: 0 10px 0 0;
}

.workPrev, .workNext {
	font-size: 140%;
	display: inline-block;
	vertical-align: sub;
}

.workPrev {
	padding: 0 12px 0 0;
}

.workNext {
	padding: 0 4px 0 0;
}

.current-slide {
	position: relative;
}

.current-slide:before {
	content: "|";
	padding: 0 6px 0 0;
}

.imgBio {
	padding: 20px 0 40px;
}

.exibContent, .bioContent, .anchorContent, .publicationDescMain {
	padding: 0 40px 0 0;
}

.bioDownloadInfo {
	border-top: 2px solid #4A4E51;
	padding: 16px 0 0 0;
}

.bioDownloadInfo p {
	padding: 0 0 6px 0;
}

.anchorsCv, .anchorsExhibition {
	padding: 0 0 40px 0;	
	font-size: 90%;
}

.anchorsExhibition {
	padding-top: 40px;
}

.anchorsCv a, .anchorsExhibition a {
	margin: 0 12px 0 0;
	color: inherit;
	border-bottom: 2px solid transparent;
}

.anchorsExhibition a:hover, .anchorsExhibition:focus, .anchorsCv a:hover, .anchorsCv a:focus, .anchorsCv .selectedAnchors, .anchorsExhibition .selectedAnchors {
	border-bottom: 2px solid #035595; /* sanjay for js for each anchor selected  */
}

.anchorDateBlock {
	display: table-row;
	padding: 0 0 20px 0;
}

.anchorDate, .anchorInfo {
	display: table-cell;	
}

.anchorInfo {
	padding: 0 0 20px 24px;
}

.publicationImg, .publicationDesc {
	display: table-cell;
	vertical-align: top;
}

.publicationImg img {
	min-width: 150px;
}

.publicationDesc {
	padding: 0 0 0 24px;	
}

.linkExternal:after {
	content: '!';
	font-family: 'icomoon';
	font-size: 130%;
	padding: 0 0 0 5px;
	display: inline-block;
	line-height: 1.2;
	vertical-align: bottom;
}
/* .anchorInfo a:after, .linkExternal:after {
	content: "some icon";
	padding: 0 0 0 4px;
}
 */
#mapMaskara {
	border: 1px solid #999;
}

#mapContentBlock {
	padding: 0 10px 0 40px;
}

#mapContent {
	font-size: 90%;
/* 	border-top: 2px solid #4A4E51;
 */	
}

#mapLinks {
	text-align: right;
	font-size: 80%;
}


#mapContent p:first-of-type {
	font-size: 100%;
	text-transform: uppercase;
	padding: 16px 0 0 0;
}

.exhibPrevEach {
	padding: 0 0 50px 0;
}

.exhibPrevDesc {
	padding: 0 0 0 20px;
}

#slider {
	padding: 0 40px 0 0;

}

#carousel .flex-direction-nav .flex-prev, #carousel .flex-direction-nav .flex-next {
	left: 35px;
}
/* MEDIA QUERIES */

/* @media only screen and (min-width: 1101px) {
	.thumbnailBlock .thumbEach:nth-of-type(4n+1) {
		clear: both;
	}

}
 */
@media only screen and (max-width: 1100px) {
	.thumbnailBlock .thumbEach {
		width: 32%;
	}
	
	/* .thumbnailBlock .thumbEach:nth-of-type(3n+1) {
		clear: both;
	} */
}

@media only screen and (max-width: 860px) {
	.thumbnailBlock .thumbEach {
		width: 48%;
	}
	
	.homeSecondary, #homeSecondaryText, .homeCarousel, .exibContent, .publicationDescMain, .bioContent, .anchorContent, .bioDownloadInfo, #aboutContent .col70 {
		float: none;
		width: 100%;
	}
	
	#homeSecondaryText {
		margin: 30px 0 0 0;
	}
	
	.exibContent, .bioContent, .publicationDescMain {
		padding-bottom: 20px;
	}
	
	#contentMain {
		padding: 10px 10px 10px 30px; 
	}
	
	#footer {
		padding-left: 30px;
	}

	.exibContent, .publicationDescMain {
		padding-right: 0;
	}
	
	.anchorInfo {
		padding-left: 0;
	}
	
	.anchorDate, .anchorInfo {
		display: block;
	}
	
	.footerLinks .termsLink {
		padding-left: 0;
	}
	
	
	.copyrightInfo, .footerTerms {
		float: none;
	}
/* .bioDownloadInfo {
		border-top: none;
	}
	 */
	/* .thumbnailBlock .thumbEach:nth-of-type(2n+1) {
		clear: both;
	} */
}

@media only screen and (max-width: 720px) {

.col25, .col30, .col33, .col75, .col70, .homeCarousel, .thumbnailBlock .thumbEach, .floatLeft, .floatRight, .paginationThumbs, #searchBlock, #slideDescription {
	width: 100%;
	float: none;
}

.publicationImg, .publicationDesc {
	display: block;
}

.publicationDesc {
	padding: 24px 0 0 0;
}

#slideDescription {
	padding-right: 0;
}

.exhibPrevDesc {
	padding: 10px 0 0 0;
}

#contentMain, #mainBar, .mainBar, .sideBarTitles, #footer {
	padding: 10px;
}

#sideBar, .sideBar {
	max-width: 160px;
}

#mapContentBlock {
	padding: 10px 10px 0 10px;
}

#slider {
	padding: 0 20px 0 0;
}

#carousel .flex-direction-nav .flex-next, #carousel .flex-direction-nav .flex-prev {
	left: 32px;
}

.bioContent, .anchorContent {
	padding-right: 0;
}

}

@media only screen and (max-width: 500px) {
	
	.menu li {
		display: block;
		padding: 6px 0;
	}

	.menu li:first-of-type:before {
		content: "";
	}
	
	.menu li:after {
		content: "";
	}

	.anchorsCv a, .anchorsExhibition a {
		display: inline;
		/* position: relative; */
	} /* how to resolve the border bottom issue  */

	.anchorsCv a:after, .anchorsExhibition a:after {
		content:"\A";
		white-space:pre;
		line-height: 2.2;
	}
	
	.footerLinks span {
		padding: 8px 20px 8px 4px;
		display: block;
	}
	
	.footerLinks .fontIcon {
		display: inline-block;
	}
	
	#searchBlock input {
		width: 100%;
	}
	
	.copyrightInfo {
		padding-bottom: 8px;
	}

}

/* END MEDIA QUERIES */
