    <div id="aboutContent">
        <!-- <h1 class="selectedHeading">Fernanda Chieco</h1> -->
        
        <div class="col70">
            {% for p in press %}
                <div>
                    <p>
                        <em>{{ p.title }}</em>
                        {% if p.author %} by {{ p.author }} {% endif %}
                    </p>
                    <p>
                        {% if p.source %}{{ p.source }},{% endif %}
                        {% if p.date %} {{ p.date|date:"M j Y" }} {% endif %}
                        {% if p.pdf %}
                            <a href="{{ p.pdf.url }}" class="downloadPdfIcon" target="_blank">PDF</a>
                        {% endif %}
                        {% if p.url %}
                            <a href="{{ p.url }}" class="linkExternalIcon" target="_blank">View Link</a>
                        {% endif %}
                    </p>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
