{% extends 'base.html' %}

{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="/about/mission">Mission</a></p>
        <p><a href="/about/people">People</a></p> <!-- sanjay i need this to get the selected class bold  -->
        <p><a href="/about/press">Press</a></p>
        <p><a href="/about/publications">Publications</a></p>
        <p><a href="/about/space">Space</a></p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <div id="aboutContent">
        <h1 class="selectedHeading">{{ person.name }}</h1>
        
    <div class="col70">
        <img src="{{ person.get_main_image }}" alt="{{ person.name }}" class="paddingBottom">            
        <div class="richtext">
            {{ person.text|safe }}
            <br>
        <a href="/about/people" class="smallestFont">Back to People</a>    
        </div>
    </div> <!-- end col70  -->
</div> <!-- end main bar  -->
    
    
{% endblock %}
