{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
            <h1 class="selectedHeading">People</h1>
            <div class="thumbnailBlock">
                {% for p in people %}
                <a href="{{ p.get_absolute_url }}" class="thumbEach col25">
                    <p>{{ p.name }}</p>
                    <img src="{{ p.list_image }}" alt="{{ p.name }}">            
                </a>
                {% endfor %}
            </div> <!-- end thumbnail block  -->
    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
