{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
        <h1 class="selectedHeading">Publications</h1>
        
            <div class="exhibitionPrevBlock">
                {% for p in publications %}
                <div class="exhibPrevEach">
                <div class="publicationImg">
                    <img src="{{ p.list_image }}" alt="{{ p.title }}">
                </div>
                <div class="publicationDesc">
                    {% if p.date %}
                    <p>{{ p.date|date:"%B %Y" }}</p>
                    {% endif %}
                    <p><strong>{{ p.title }}</strong></p>
                    {% if p.author %}
                    <p>Author: {{ p.author }}</p>
                    {% endif %}
                    <br>
                    {% if p.description %}
                    <div class="richtext">    
                        {{ p.description }}
                    </div>
                    {% endif %}
                    <!-- <a href="{{ p.pdf.url }}" target="_blank">Download PDF</a> -->
                    <a href="/publication/{{ p.id }}" class="smallerFont">Show Details</a>
                </div>
                </div> <!-- end exhib Prev Each -->    
                {% endfor %}
<!--                 <div class="exhibPrevEach">
                <div class="publicationImg">
                    <img src="/static/img/image3.jpg" alt="">
                </div>
                <div class="publicationDesc">
                    <p>December 2011</p>
                    <p><strong>Portrait of a Patron</strong></p>
                    <p>Author: Max Streicher</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque numquam voluptatem quaerat doloribus minima illum ut quos magnam neque sunt doloremque molestias repudiandae eveniet accusamus praesentium. Maxime autem officia libero.</p>
                    <a href="/publications-detail" class="smallerFont">Show Details</a>
                </div>
            </div>  
 -->
</div> <!-- end exhib Prev Block --> 

    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
