{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
        <h1 class="selectedHeading">Space</h1>
        <img src="/static/img/home-main.jpg" alt="" class="paddingBottom">
        
        <div class="anchorContent col70">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga recusandae tempore itaque et eos quisquam temporibus dignissimos. Ea animi ut eveniet in. Quaerat reiciendis quo eligendi ad pariatur dolore laborum.</p>
        </div>
    
        <div class="bioDownloadInfo col30 smallestFont">
            <p><a href="" class="downloadPdf">Download floor plan</a></p>        
        </div>

    <div class="clear"></div>    
    
    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
