{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
        <h1 class="selectedHeading">Publications</h1>
        
        <div class="col70">
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2009</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2010</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates <a href="" class="linkExternal">soluta!</a> some text.</p>
                    <p><a href="" class="linkExternal"><strong>Some external link, always be set to target blank??</strong></a></p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2011</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2012</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates soluta!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
        </div> <!-- end anchor content -->         

        </div> <!-- end col70  -->
    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
