{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
            <div class="thumbnailBlock">
                <a href="/about/people/abhay-maskara" class="thumbEach col25">
                    <p>Abhay Maskara</p>
                    <img src="/static/img/news1.jpg" alt="">            
                </a>
        
                <a href="/about/people/rivka-sadarangani" class="thumbEach col25">
                    <p>Rivka Sadarangani</p>
                    <img src="/static/img/news2.jpg" alt="">            
                </a>
            </div> <!-- end thumbnail block  -->
    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
