{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
        <!-- <h1 class="selectedHeading">Fernanda Chieco</h1> -->
        
        <div class="col70">
                <div>
                    <p><em>Queer by Design</em> by Phalguni Desai</p>
                    <p>TimeOut Mumbai, Jan 7-16 2013 <a href="" class="downloadPdfIcon" target="_blank">PDF</a><a href="" class="linkExternalIcon" target="_blank">View Link</a></p>
                </div>
                <br>
                <div>
                    <p><em>The irony of really big expectations</em> by Phalguni Desai</p>
                    <p>TimeOut Mumbai, Jan 7-16 2013 <a href="" class="downloadPdfIcon" target="_blank">PDF</a><a href="" class="linkExternalIcon" target="_blank">View Link</a></p>
                </div>
                <br>
    
                <div>
                    <p><em>Queer by Design</em> by Phalguni Desai</p>
                    <p>TimeOut Mumbai, Jan 7-16 2013 <a href="" class="downloadPdfIcon" target="_blank">PDF</a><a href="" class="linkExternalIcon" target="_blank">View Link</a></p>
                </div>
                <br>
        
                <div>
                    <p><em>The irony of really big expectations</em> by Phalguni Desai</p>
                    <p>The Art Observer, Oct 7-16 2013 <a href="" class="downloadPdfIcon" target="_blank">PDF</a><a href="" class="linkExternalIcon" target="_blank">View Link</a></p>
                </div>
                <br>

        </div> <!-- end col70  -->
        
        <div class="bioDownloadInfo col30 smallestFont">
            <p><a href="" class="downloadPdf">Download PDF</a></p>
        </div>
        <div class="clear"></div>
    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
