{% extends 'artistbase.html' %}


{% block mainbar %}
    <h1 class="selectedHeading">{{ artist.name }}</h1>

        <div class="anchorContent col70">
            {% include 'includes/press.html' %}
        </div>

        {% if artist.pdf %}
        <div class="bioDownloadInfo col30 smallestFont">
            
            <p><a href="{{ artist.pdf.url }}" target="_blank" class="downloadPdf">Download PDF</a></p>

        </div> <!-- end bio download info  -->
        {% endif %}

    <div class="clear"></div>


{% endblock %}
