{% extends 'artistbase.html' %}

{% block mainbar %}

    <h1 class="selectedHeading">{{ artist.name }}</h1>
    <div class="anchorsCv">

        {% if artist.has_education %}
        <a href="#anchorEducation">Education</a>
        {% endif %}

        {% if artist.has_solo_exhibs %}
        <a href="#anchorExibSolo">Solo Exhibitions</a>
        {% endif %}

        {% if artist.has_group_exhibs %}
        <a href="#anchorExibGroup">Group Exhibitions</a>
        {% endif %}

        {% if artist.has_collections %}
        <a href="#anchorCollections">Collections</a>
        {% endif %}

        {% if artist.has_awards %}
        <a href="#anchorAwards">Awards</a>
        {% endif %}

    </div> <!-- end anchors cv  -->
    
    <div class="anchorContent col70">

        {% if artist.has_education %}
        <div id="anchorEducation">        
            {% include 'includes/year-groups.html' with years=education %}
        </div>
        {% endif %}

        {% if artist.has_solo_exhibs %}
        <div id="anchorExibSolo">        
            {% include 'includes/year-groups.html' with years=solo_exhibs %}
        </div>
        {% endif %}

        {% if artist.has_group_exhibs %}
        <div id="anchorExibGroup">
            {% include 'includes/year-groups.html' with years=group_exhibs %}
        </div> <!-- end anchor exib group -->
        {% endif %}        

        {% if artist.has_collections %}
        <div id="anchorCollections">
            {% include 'includes/year-groups.html' with years=collections %}
        </div> <!-- end anchor collections -->
        {% endif %}            

        {% if artist.has_awards %}
        <div id="anchorAwards">
            {% include 'includes/year-groups.html' with years=awards %}
        </div> <!-- end anchor awards -->
        {% endif %}        

    </div> <!-- end anchor content -->

    {% include 'includes/artist-pdf-url.html' %}

    <div class="clear"></div>
    

{% endblock %}
