{% extends 'artistbase.html' %}


{% block mainbar %}
    <h1 class="selectedHeading">Max Streicher</h1>
        <div class="anchorContent col70">
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2009</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2010</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates soluta some text.<a href="" class="linkExternal fontIcon" target="_blank">!</a></p>
                    
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2011</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2012</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates soluta!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
        </div> <!-- end anchor content -->         

        <div class="bioDownloadInfo col30 smallestFont">
            <p><a href="" class="downloadPdf">Download PDF</a></p>
            <p><a href="">www.maxstreicher.com</a></p>        
        </div>
    <div class="clear"></div>


{% endblock %}
