{% extends 'artistbase.html' %}

{% block mainbar %}
    <h1 class="selectedHeading">{{ artist.name }}</h1>
    <div class="smallestFont">
        <p>
             {% comment %}{% if artist.dob %} {{ artist.dob|date:"Y" }} Born, {% endif %}{% endcomment %}
             {% if artist.birth_location %}{{ artist.birth_location }}{% endif %}
        </p>
    </div>
    
    <img src="{{ artist.get_main_image }}" alt="{{ artist.name }}" class="imgBio">
    
    <div class="bioContent richtext col70">
        {{ artist.bio|safe }}
    </div> <!-- end bio content -->

    {% include 'includes/artist-pdf-url.html' %}

    <div class="clear"></div>
{% endblock %}
