{% extends 'base.html' %}


{% block extra_css %}
    <link rel="stylesheet" href="/static/css/flexslider.css">
        
    <style>
        
        #slider .flex-direction-nav:after {
            /* content: "| 2 of 12 works"; */
            font-size: 80%;
            position: absolute;
            left: 40px;
            bottom: 17px;
        }
        
        #slider {
            padding: 0 40px 0 0;
/*             width: 60%;
float: left;
 */        }

        #slider .flex-direction-nav .flex-prev {
            /* bottom: -20px; */
        }

        #slider .flex-direction-nav a {
            bottom: 0;
            top: auto;
        }
        
        #carousel .flex-direction-nav .flex-next {
            background: url('../../static/img/nextdown.png') no-repeat;
            left: 34px;
        }
        
        #carousel .flex-direction-nav .flex-prev {
            background: url('../../static/img/prevup.png') no-repeat;
            left: 34px;
            
        }
        
        #slider .flex-direction-nav .flex-next {/* background-position: 100% 0;*/ background: url('../../static/img/next.png') no-repeat; left: 26px; }

        #slider .flex-direction-nav .flex-prev {background: url('../../static/img/prev.png') no-repeat; left: 0px; }
        
        #carousel {
            width: 30%;            float: left;
        }
        
        #carousel .slides li {
            float: none !important; /* see if important can be overriden later  */
            margin: 0 0 20px 0;
        }

        #carousel .slides li {
            cursor: pointer;
        }
        
        #carousel .flex-direction-nav .flex-prev {
            top: -36px;
        }

        #carousel .flex-direction-nav .flex-next {
            bottom: -40px;
            /* left: 0; */
        }
        
/*         #carousel .flex-direction-nav li:last-of-type:before {
    content: "More views";
    font-size: 80%;
    color: #999;
    padding: 0 0 0 7px;
} */ /* SANJ is this ok or jquery  */
        
/*         #carousel .flex-direction-nav li:first-of-type:before {
    content: "Less views";
    font-size: 80%;
    color: #999;
    padding: 0 0 0 7px;
} */ /* SANJ is this ok or jquery  */

        #carousel .flex-direction-nav a {
            margin: 0;
            bottom: 0;
            top: auto;
        }
    </style>    
        
{% endblock %}

{% block extra_js %}
<script src="/static/js/jquery.flexslider-min.js"></script>

<script>
$(document).ready(function() {
  // The slider being synced must be initialized first
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 80,
    itemMargin: 5,
    asNavFor: '#slider',
    direction: 'vertical'
  });
   
  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
});
</script>
{% endblock %}


{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="/selected">Selected Work</a></p>
        <p><a href="/available">Available Work</a></p>
        <p><a href="/exhibitions">Exhibitions</a></p>
        <p><a href="/biography">Biography</a></p>
        <p><a href="/cv">Curriculum Vitae</a></p>
        <p><a href="/press">Press</a></p>
        <p><a href="/publications">Publications</a></p>
        <p><a href="/news">News</a></p>
        <p><a href="/talks">Talks</a></p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <h1 class="selectedHeading">Max Streicher</h1>
    
    <div id="slider" class="flexslider col70">
        <ul class="slides">
          <li>
            <img src="/static/img/dd.jpg" />
          </li>
          <li>
            <img src="/static/img/bb.jpg" />
          </li>
          <li>
            <img src="/static/img/c.jpg" />
          </li>
          <li>
            <img src="/static/img/home-main.jpg" />
          </li>
          <!-- items mirrored twice, total of 12 -->
        </ul>
      </div>
      <div id="carousel" class="flexslider col30">
        <ul class="slides">
          <li>
            <img src="/static/img/dd.jpg" />
          </li>
          <li>
            <img src="/static/img/bb.jpg" />
          </li>
          <li>
            <img src="/static/img/c.jpg" />
          </li>
          <li>
            <img src="/static/img/home-main.jpg" />
          </li>

          <!-- items mirrored twice, total of 12 -->
        </ul> 
</div>
      <div class="clear"></div>
      
      <div id="slideControlBox" class="col70 smallestFont">
        <div class="floatLeft">
            <p>3 of 11 works</p>
        </div>
        <div class="floatRight">
            <span class="zoom">Zoom</span>
            <span class="downloadPdf">Download PDF</span>
        </div>
        <div class="clear"></div>
      </div> <!-- end slide control box  -->
      
      <div class="clear"></div>
      
      <div id="slideDescription" class="col70">
        <p>Glimpse of Thirst(1), 2012</p>
        <div class="smallestFont">
          <p>Guys, what are the fields that come here?</p>
          <p>Used fabric, jute, marbles, pine thorns, fiber glass, aluminium wire, thread</p>
          <p>36 x 30 x 30 inches(91 x 76 x 76cms)</p>
          <p>Edition : Unique</p>
          <p>Pedestial in exposed ply, height 42 x 22 x 22 inches</p>
        </div> <!-- end smallest font  -->
      <br>
    
The giants in their great mass heave and sign to the timed intervals of industrial blowers. Lying on their backs and sides, heads raised from the floor, legs stiffened, chests inflated, only to relax again, as if in some futile attempt to stand up on their feet.
      </div> <!-- end slide description  -->              
    
</div> <!-- end main bar  -->
            


{% endblock %}
