{% extends 'artistbase.html' %}

{% block mainbar %}

<div class="exhibitionPrevBlock">

    <div class="exhibPrevEach">
        <div class="col25">
            <img src="/static/img/image2.jpg" alt="">
        </div>
        <div class="col75 exhibPrevDesc">
            <p>24th September, 2012</p>
            <p><strong>Some news title</strong></p>
            <p>Some text here. Do we need a small descrption here?</p>
            <a href="" class="smallerFont linkExternal">View News</a>
        </div>
    <div class="clear"></div>
    </div> <!-- end exhib Prev Each -->    
    
    <div class="exhibPrevEach">
        <div class="col25">
            <img src="/static/img/image3.jpg" alt="">
        </div>
        <div class="col75 exhibPrevDesc">
            <p>24th September, 2012</p>
            <p><strong>Some news title</strong></p>
            <p>Some text here. Do we need a small descrption here?</p>
            <a href="" class="smallerFont linkExternal">View News</a>
        </div>
    <div class="clear"></div>
    </div> <!-- end exhib Prev Each -->    

</div> <!-- end exhib Prev Block --> 

{% endblock %}    
