{% extends 'base.html' %}

{% block content %}
    {% block sidebar %}
    
    <div id="sideBar" class="col25">
    
        <div class="sideBarTitles">
            <p><a href="/selected">Selected Work</a></p>
            <p><a href="/available">Available Work</a></p>
            <p><a href="/exhibitions">Exhibitions</a></p>
            <p><a href="/biography">Biography</a></p>
            <p><a href="/cv">Curriculum Vitae</a></p>
            <p><a href="/press">Press</a></p>
            <p><a href="/publications">Publications</a></p>
            <p><a href="/news">News</a></p>
            <p><a href="/talks">Videos</a></p>
        </div>
     
    </div> <!-- end side bar  -->

    {% endblock %}

<div id="mainBar" class="col75">
    {% block mainbar %}    
    {% endblock %}
</div> <!-- end main bar  -->

{% endblock %}

