{% extends 'artistbase.html' %}

{% block mainbar %}    
    <div id="selectedThumbs">
        <h1 class="selectedHeading floatLeft">Max Streicher</h1>
        <div class="paginationThumbs blue smallestFont">
            <span>First</span>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span class="prev-pag fontIcon">l</span>
            <span class="next-pag fontIcon">r</span>
            <span>Last</span>
            
        </div> <!-- end pagination thumbs  -->
        
        <div class="clear"></div>
        
        <div class="thumbnailBlock">
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected1.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected2.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected3.jpg" alt="">
                </a>    
            </div>
            
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected1.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected2.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected3.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected1.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected2.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected3.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected1.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected2.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected3.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected1.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected2.jpg" alt="">
                </a>    
            </div>
    
            <div class="thumbEach col25">
                <a href="/single">
                    <img src="/static/img/selected3.jpg" alt="">
                </a>    
            </div>
    
        </div> <!-- end thumbnail block  -->
    </div> <!-- end selected thumbs  -->            
{% endblock %}    
    

