{% extends 'base.html' %}

{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="">All Artists</a></p>
        <p><a href="artists/represented">Represented Artists</a></p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <div class="thumbnailBlock">
        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
        </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
        </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p class="ellipsis">Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        

    </div> <!-- end thumbnail block  -->
    
    
</div> <!-- end main bar  -->
            


{% endblock %}
