{% extends 'artistgallerybase.html' %}


{% block extra_css %}
    {{ block.super }}    
    <style>
        
    .sliderVideoWrap {
    }
            
    #slider {
        width: 70%;
        float: left;
    }
    
    #slider .flex-direction-nav {
        float: left;
    }

    #slider .flex-direction-nav a {
        bottom: 0;
        top: auto;
    }
    
    #carousel .flex-direction-nav .flex-next {
        background: url('../../static/img/nextdown.png') no-repeat;
    }
    
    #carousel .flex-direction-nav .flex-prev {
        background: url('../../static/img/prevup.png') no-repeat;
        
    }
    
    #carousel {
        width: 30%;
        float: left;
    }
    
    #carousel .slides li {
        float: none !important; /* see if important can be overriden later  */
        margin: 0 0 20px 0;
    }

    #carousel .slides li {
        cursor: pointer;
    }
    
    #carousel .flex-direction-nav .flex-prev {
        top: -26px;
    }

    #carousel .flex-direction-nav .flex-next {
        bottom: -30px;
    }
    
    #carousel .flex-direction-nav a {
        margin: 0;
        bottom: 0;
        top: auto;
    }
    </style>    
        
{% endblock %}

{% block extra_js %}
    {{ block.super }}    

<script src="/static/js/jquery.fitvids.js"></script>
<script>
$(document).ready(function() {
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 80,
    itemMargin: 5,
    asNavFor: '#slider',
    direction: 'vertical'
  });
       
  $('.flexslider')
    .fitVids()
    .flexslider({
      animation: "slide",
      controlNav: false,
      useCSS: false,
      slideshow: false,
      animationLoop: false,
      smoothHeight: true,
      sync: "#carousel"
  });
});
</script>
{% endblock %}

    {% block gallery_slider %}

    <div class="col70">
        <h1 class="selectedHeading floatLeft">Max Streicher</h1>
        <p class="smallerFont floatRight"><a href="/single/images">Images </a>/<a href="/single/videos" class="blue"> Videos</a></p>
    </div>
    
    <div class="clear"></div>
    <div class=”flex-container”> 
        <div id="slider" class="flexslider">
            <ul class="slides">
              <li>
                <iframe src="http://player.vimeo.com/video/5606758?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </li>
              <li>
                <iframe src="http://player.vimeo.com/video/5606758?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </li>
              <li>
                <iframe src="http://player.vimeo.com/video/5606758?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </li>
    
            </ul>
        </div>
        <div id="carousel" class="flexslider col30">
            <ul class="slides">
              <li>
                <img src="/static/img/home-main.jpg" />
              </li>
              <li>
                <img src="/static/img/home-main.jpg" />
              </li>
              <li>
                <img src="/static/img/home-main.jpg" />
              </li>
              <!-- items mirrored twice, total of 12 -->
            </ul> 
        </div> <!-- #carousel  -->
        <div class="clear"></div>
      <div id="slideControlBox" class="col75 smallestFont">


        <div class="works">
            <p>
                    <a href="" class="fontIcon workPrev">l</a>
                    <a href="" class="fontIcon workNext">r</a>
                <span><span class="current-slide">1</span> of <span class="total-slides">4</span> works</span>
            </p>
        </div>
        <div class="singleIcons">
            <span class="zoom">Zoom</span>
            <span class="downloadPdf">Download PDF</span>
        </div>
        <div class="clear"></div>
      </div> <!-- end slide control box  -->
      
    </div> <!-- /flex-container -->
    <div class="clear"></div>

{% endblock %}
