{% extends 'base.html' %}

{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="/artists">Represented Artists</a></p>
        <p><a href="/artists/all">All Artists</a></p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <div class="thumbnailBlock">
        {% for a in artists %}
        <a href="{{ a.url }}" class="thumbEach col25">
            <p class="ellipsis">{{ a.name }}</p>
            <img src="{{ a.image }}" alt="">            
        </a>
        {% endfor %}
    </div> <!-- end thumbnail block  -->
    
    
</div> <!-- end main bar  -->
            


{% endblock %}
