{% extends 'artistbase.html' %}


{% block mainbar %}
<h1 class="selectedHeading">Max Streicher</h1>

<div class="exhibitionPrevBlock">

    <div class="exhibPrevEach">
        <div class="publicationImg">
            <img src="/static/img/catalogue1.jpg" alt="">
        </div>
        <div class="publicationDesc">
            <p>March 2012</p>
            <p><strong>Metamorphosis</strong></p>
            <p>Author: Max Streicher</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum enim officiis veniam minima consectetur inventore ad soluta laborum ipsa voluptatibus ex sequi sed magnam exercitationem odit ea tenetur dicta incidunt!</p>
            <a href="" class="smallerFont linkExternal" target="_blank">View Link</a>
        </div>
        </div> <!-- end exhib Prev Each -->    

    <div class="exhibPrevEach">
        <div class="publicationImg">
            <img src="/static/img/image3.jpg" alt="">
        </div>
        <div class="publicationDesc">
        <p>December 2011</p>
        <p><strong>Portrait of a Patron</strong></p>
        <p>Author: Max Streicher</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque numquam voluptatem quaerat doloribus minima illum ut quos magnam neque sunt doloremque molestias repudiandae eveniet accusamus praesentium. Maxime autem officia libero.</p>
        <a href="" class="smallerFont linkExternal" target="_blank">View Link</a>
        </div>
    </div> <!-- end exhib Prev Each -->    

</div> <!-- end exhib Prev Block --> 

{% endblock %}
