<!DOCTYPE HTML>
<html lang="en">
<head>

<meta charset="utf-8">

<title>Gallery Maskara: {% block extra_title %}{% endblock %}</title>

<meta name="keywords" content="Gallery Maskara">
<meta name="title" content="CHANGE AS PER TITLE OF PAGE prefixed with company name"> 
<meta name="description" content="ADD DETAILS HERE"> <!-- Sanj, give them control in the CMS if possible  -->

<meta http-equiv="X-UA-Compatible" content="chrome=1"> <!-- chrome frame -->

<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- for multiple viewport sizes -->

{% block extra_meta %}

{% endblock %}

<link rel="shortcut icon" href="/static/img/favicon.ico" /> <!--favicon-->

<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,600,300' rel='stylesheet' type='text/css'> <!-- change later and install locally and custom to what you need  -->
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />

{% block extra_css %}

{% endblock %}


<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->


<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/main.js"></script>

{% block extra_js %}

{% endblock %}

</head>

<body>

<form id="searchBlock">
    <div id="searchInputWrapper">
        <input type="text" placeholder="Search Gallery Maskara">
    </div>    
    <div class="clear"></div>
</form>

<div id="wrapper">
    
    <div id="contentMain">  
        <div id="headerBlock">
            <a href="/" id="logo">
                <img src="/static/img/logo-gallery-maskara.png" alt="logo-gallery-maskara">
            </a> <!-- end logo  -->
            
            <ul id="menu">
                <li><a href="/artists">Artists</a></li>
                <li><a href="/exhibitions/current">Exhibitions</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        
        </div> <!-- end header block  -->
       
       <div id="contentBlock">
            {% block content %}

            {% endblock %}
            
       </div> <!-- end content block  -->
       
    <div class="clear"></div>

    </div> <!-- end content main  -->

    
    <div id="footer" class="smallestFont">
        <p class="footerLinks"><span>&copy; Gallery Maskara 2013</span> <span><a href="">Terms &amp; Conditions</a></span><span><a href="">Privacy Policy</a></span><span><a href="">Credits</a></span></p>
    </div> <!-- end footer  -->
    
</div> <!-- end wrapper  -->

<noscript><strong>You need Javascript to run this page</strong></noscript>


  
</body>

</html>
