{% extends 'base.html' %}

{% block content %}

<div class="col70">
    <img src="/static/img/map-gallery-maskara.jpg" alt="map-gallery-maskara" id="mapMaskara">

    <div id="mapLinks">
        <a href="https://maps.google.com/maps?q=gallery+maskara&hl=en&sll=41.04761,-81.724893&sspn=0.077547,0.154324&t=h&hq=gallery+maskara&radius=15000&z=13" target="_blank">Google Maps | </a>
        <a href="" target="_blank">Printable PDF Map</a>  
    </div>
        

</div>

<div class="col30" id="mapContentBlock">
    <div id="mapContent">
        <p class="sideBarTitles">Gallery Maskara</p>
        <br>
        <p><strong>Address</strong></p>
        <p>6/7 3rd Pasta Lane,</p>
        <p>Colaba, Mumbai 400 005</p>
        <br>
        <p><strong>Phone</strong></p>
        <p>+91 22 2202 3056</p>
        <br>
        <p><strong>Fax</strong></p>
        <p>+91 22 2202 3057</p>
        <br>
        <p><strong>Email</strong></p>
        <p><a href="mailto:info@gallerymaskara">info@gallerymaskara.com</a></p>
        <br>
        <p><strong>Opening hours</strong></p>
        <p>Tuesday to Saturday: 11am - 7pm</p>
        <p>(Closed Sunday and Monday)</p>

    </div> <!-- end map content  -->
</div>

{% endblock %}
