{% extends 'base.html' %}

{% block content %}

<div class="col70">
    <img src="/static/img/map-gallery-maskara.jpg" alt="map-gallery-maskara" id="mapMaskara">
</div>

<div class="col30" id="mapContentBlock">
    <div id="mapContent">
        <p class="sideBarTitles">Gallery Maskara</p>
        <br>
        <p><strong>Address</strong></p>
        <p>6/7 3rd Pasta Lane,</p>
        <p>Colaba, Mumbai 400 005</p>
        <br>
        <p><strong>Phone</strong></p>
        <p>+91 22 2202 3056</p>
        <br>
        <p><strong>Fax</strong></p>
        <p>+91 22 2202 3057</p>
        <br>
        <p><strong>Email</strong></p>
        <p><a href="mailto:info@gallerymaskara">info@gallerymaskara.com</a></p>
        <br>
        <p><strong>Opening hours</strong></p>
        <p>Tuesday to Saturday: 11am - 7pm</p>
        <p>(Closed Sunday and Monday)</p>

    </div> <!-- end map content  -->
</div>

{% endblock %}
