{% extends 'base.html' %}


{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="/selected">Selected Work</a></p>
        <p><a href="/available">Available Work</a></p>
        <p><a href="/exhibitions">Exhibitions</a></p>
        <p><a href="/biography">Biography</a></p>
        <p><a href="/cv">Curriculum Vitae</a></p>
        <p><a href="/press">Press</a></p>
        <p><a href="/publications">Publications</a></p>
        <p><a href="/news">News</a></p>
        <p><a href="/talks">Talks</a></p>
    </div>
     
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <h1 class="selectedHeading">Max Streicher</h1>
    <div class="anchorsCv">
        <a href="#anchorEducation">Education</a>
        <a href="#anchorExibSolo">Solo Exhibitions</a>
        <a href="#anchorExibGroup">Group Exhibitions</a>
        <a href="#anchorCollections">Collections</a>
        <a href="#anchorAwards">Awards</a>
    </div> <!-- end anchors cv  -->
    
    <div class="anchorContent col70">
        <div id="anchorEducation">        
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2009</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2010</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates <a href="" class="linkExternal">soluta!</a> some text.</p>
                    <p><a href="" class="linkExternal"><strong>Some external link, always be set to target blank??</strong></a></p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2011</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2012</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates soluta!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
        </div> <!-- end anchor education -->         

        <div id="anchorExibSolo">        
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2009</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2010</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates <a href="" class="linkExternal">soluta!</a> some text.</p>
                    <p><a href="" class="linkExternal"><strong>Some external link, always be set to target blank??</strong></a></p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2011</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
    
            <div class="anchorDateBlock">
                <div class="anchorDate">
                    <p>2012</p>
                </div>
                <div class="anchorInfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quod molestias et aliquid nemo eligendi corrupti est ipsum repudiandae. Explicabo mollitia vero veritatis quam itaque soluta vel recusandae dolorum necessitatibus!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ab fugit laborum molestias nemo odit dolorem rerum nostrum tempora mollitia magni totam enim! Blanditiis obcaecati pariatur explicabo sapiente voluptates soluta!</p>
                </div> <!-- end anchor info  -->
    
            </div> <!-- end anchor date block  -->    
        </div> <!-- end anchor exib solo -->         

        <div id="anchorExibGroup">
        </div> <!-- end anchor exib group -->
        
        <div id="anchorCollections">
        </div> <!-- end anchor collections -->
            
        <div id="anchorAwards">
        </div> <!-- end anchor awards -->

        
    </div> <!-- end anchor content -->
    
</div> <!-- end main bar  -->
            


{% endblock %}
