{% extends 'base.html' %}

{% block content %}
    {% block sidebar %}
    
    <div id="sideBar" class="col25">
    
        <div class="sideBarTitles">
        <p><a href="/events/current">Current Events</a></p>
        <p><a href="/events/upcoming">Upcoming Events</a></p>
        <p><a href="/events/previous">Previous Events</a></p>
        </div>
     
    </div> <!-- end side bar  -->

    {% endblock %}

<div id="mainBar" class="col75">
        
    {% block events_info %}
    
    <div class="exibMain">
        <h1>Glimpse of Thirst</h1>
            <p class="smallestFont">In collaboration with Geukens and De Vil, Belgium</p>
            <p>Shine Shivam</p>
        <div class="smallestFont">
            <p class="blue">January 11 to February 28, 2013</p>   
            <p>Preview: January 10, 2013, 6:30pm-9.30pm</p>
            <p>Location: Gallery Maskara</p>
        </div>
    </div> <!-- end exib main -->
    
    <div class="anchorsExhibition">
        <a href="/events/current">Overview</a>
        <a href="/events/event-name/works">Works</a>
        <a href="/events/event-name/biography">Biography</a>  
        <a href="/events/event-name/press">Press</a>
        <a href="/events/event-name/publications">Publications</a>
        <a href="/events/event-name/videos">Videos</a>
    </div> <!-- end anchorsExhibition -->
    {% endblock %}
    
    {% block mainbar %}

    {% endblock %}

    
</div> <!-- end main bar  -->

{% endblock %}

