{% extends 'eventsbase.html' %}

{% block mainbar %}

<img src="/static/img/home-main.jpg" alt="" class="imgMainExib">    

<div class="exibContent col75">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis aspernatur porro minus alias dignissimos et beatae repellat non quisquam optio ipsum dolorem nesciunt officia autem voluptas amet nisi fugit architecto.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi minus illo beatae quo ratione praesentium quas libero ullam vel numquam   nihil veniam distinctio harum asperiores cum. Repudiandae fugiat ipsum nulla.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quae qui harum tenetur dolorum ipsam vitae distinctio ducimus in eius iusto dignissimos consectetur ab obcaecati modi. Corrupti totam officia suscipit.</p>
</div> <!-- end bio content -->

<div class="bioDownloadInfo col25 smallestFont">
    <p><a href="" class="downloadPdf">Download PDF</a></p>
</div> <!-- end bio download info  -->

    
{% endblock %}
