{% extends 'base.html' %}

{% block content %}
    {% block sidebar %}
    
    <div id="sideBar" class="col25">
    
        <div class="sideBarTitles">
        {% if kls.get_current %}
        <p><a {% if event.is_current %} class="selectedSideBarTitles" {% endif %}href="/events/current">Current Events</a></p>
        {% endif %}

        {% if kls.has_upcoming %}
        <p><a {% if event.is_upcoming %} class="selectedSideBarTitles" {% endif %}href="/events/upcoming">Upcoming Events</a></p>
        {% endif %}

        <p><a {% if event.is_previous %} class="selectedSideBarTitles" {% endif %}href="/events/previous">Previous Events</a></p>
        </div>
     
    </div> <!-- end side bar  -->

    {% endblock %}

<div id="mainBar" class="col75">
        
    {% block events_info %}
    
    <div class="exibMain">
        <h1>{{ event.title }}</h1>
            {% if event.oneliner %}
            <p class="smallestFont">{{ event.oneliner }}</p>
            {% endif %}
            <br>
            {% if event.has_artists %}
            <p>{{ event.get_artists_string }}</p>
            {% endif %}
        <div class="smallestFont">
            <p class="blue">{{ event.date|date:"F j, Y" }}</p>   
            <p>{{ event.start_time|time:"P" }}{% if event.end_time %}-{{ event.end_time|time:"P" }}{% endif %}</p>
            {% if event.location %}
            <p>Location: {{ event.location }}</p>
            {% endif %}
        </div>
    </div> <!-- end exib main -->
    
    <div class="anchorsExhibition">
        <a href="{{ url }}/overview">Overview</a>

        {% if event.has_works %}
        <a href="{{ url }}/works">Works</a>
        {% endif %}

        {% if event.has_artists %}
        <a href="{{ url }}/biography">Biography</a>
        {% endif %}
          
        {% if event.has_press %}
        <a href="{{ url }}/press">Press</a>
        {% endif %}

        {% if event.has_publications %}
        <a href="{{ url }}/publications">Publications</a>
        {% endif %}

        {% if event.has_videos %}
        <a href="{{ url }}/videos">Videos</a>
        {% endif %}

    </div> <!-- end anchorsExhibition -->
    {% endblock %}
    
    {% block mainbar %}

    {% endblock %}

    
</div> <!-- end main bar  -->

{% endblock %}

