{% extends 'eventsbase.html' %}

{% block mainbar %}
    {% block events_info %}
    {% endblock %}

<div class="exhibitionPrevBlock">

    <div class="exhibPrevEach">
        <div class="col25">
            <img src="/static/img/image2.jpg" alt="">
        </div>
        <div class="col75 exhibPrevDesc">
            <p>2012</p>
            <p><strong>Prashant Pandey</strong></p>
            <p>Monday 24th September, 6:30pm-9.30pm</p>
            <!-- <p>Location: Gallery Maskara</p> -->
            <p>Location: Kochi, India</p>
            <a href="" class="smallerFont">View Event</a>
        </div>
    <div class="clear"></div>
    </div> <!-- end exhib Prev Each -->    
    
    <div class="exhibPrevEach">
        <div class="col25">
            <img src="/static/img/image3.jpg" alt="">
        </div>
        <div class="col75 exhibPrevDesc">
            <p>2011</p>
            <p><strong>Are the limits of my language, the limits of my world?</strong></p>
            <p>(In collaboration with Geukens and De Vil, Belgium)</p>
            <p>Tuesday 20th November, 7:30pm-9.00pm</p>
            <!-- <p>Location: Gallery Maskara</p> -->
            <p>Location: Gallery Maskara</p>
            <a href="" class="smallerFont">View Event</a>
        </div>
    <div class="clear"></div>
    </div> <!-- end exhib Prev Each -->    

</div> <!-- end exhib Prev Block --> 

{% endblock %}
