{% extends 'eventsbase.html' %}

{% block mainbar %}

<div class="exibMain">
    <h1>Glimpse of Thirst</h1>
        <p>Shine Shivam</p>
    <div class="smallestFont">
        <p class="blue">January 11 to February 28, 2013</p>   
        <p>Preview: January 10, 2013, 6:30pm-9.30pm</p>
        <p>Curated by: Abhay Maskara</p>
    </div>
</div> <!-- end exib main  -->

<div class="anchorsExhibition">
    <a href="/events/event-name/works" class="selectedAnchors">Works</a>
    <a href="/events/event-name/biography">Biography</a>  
    <a href="/events/event-name/press">Press</a>
    <a href="/events/event-name/publications">Publications</a>
    <a href="/events/event-name/videos">Videos</a>
</div> <!-- end anchorsExhibition -->

<div class="exhibBlockAnchors">
    
</div> <!-- /exhibBlockAnchors -->

<div class="thumbnailBlock">
    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected1.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected2.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected3.jpg" alt="">
        </a>    
    </div>
    
    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected1.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected2.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected3.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected1.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected2.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected3.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected1.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected2.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected3.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected1.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected2.jpg" alt="">
        </a>    
    </div>

    <div class="thumbEach col25">
        <a href="/single">
            <img src="/static/img/selected3.jpg" alt="">
        </a>    
    </div>

</div> <!-- end thumbnail block  -->

    
{% endblock %}
