{% extends 'exhibitionsbase.html' %}

{% block mainbar %}

<div class="exhibitionPrevBlock">

    <div class="exhibPrevEach">
        <div class="col25">
            <img src="/static/img/news1.jpg" alt="">
        </div>
        <div class="col75 exhibPrevDesc">
            <p>2012</p>
            <p><strong>Prashant Pandey</strong></p>
            <p>Preview: Monday 24th September</p>
            <p>Show Dates: Tuesday, 25th September to Thursday, 8th November</p>
            <p></p>
            <a href="" class="smallerFont">View Exhibition</a>
        </div>
    <div class="clear"></div>
    </div> <!-- end exhib Prev Each -->    
    
    <div class="exhibPrevEach">
        <div class="col25">
            <img src="/static/img/news2.jpg" alt="">
        </div>
        <div class="col75 exhibPrevDesc">
            <p>2011</p>
            <p><strong>Are the limits of my language, the limits of my world?</strong></p>
            <p>(In collaboration with Geukens and De Vil, Belgium)</p>
            <p>Preview: Tuesday 20th November</p>
            <p>Show Dates: Wednesday, 21th November to Saturday, 29th December</p>
            <p></p>
            <a href="" class="smallerFont">View Exhibition</a>
        </div>
    <div class="clear"></div>
    </div> <!-- end exhib Prev Each -->    

</div> <!-- end exhib Prev Block --> 

{% endblock %}    
