{% extends 'exhibitionsbase.html' %}

{% block mainbar %}    
    <div class="thumbnailBlock">
        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected1.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected2.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected3.jpg" alt="">
            </a>    
        </div>
        
        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected1.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected2.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected3.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected1.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected2.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected3.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected1.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected2.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected3.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected1.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected2.jpg" alt="">
            </a>    
        </div>

        <div class="thumbEach col25">
            <a href="/single">
                <img src="/static/img/selected3.jpg" alt="">
            </a>    
        </div>

    </div> <!-- end thumbnail block  -->

    
{% endblock %}
