{% extends 'base.html' %}

{% block content %}
    {% block sidebar %}
    
    <div id="sideBar" class="col25">
    
        <div class="sideBarTitles">
            <p><a {% if exhibition.is_current %} class="selectedSideBarTitles" {% endif %}href="/exhibitions/current">Current Exhibition</a></p>
            <p><a {% if exhibition.is_upcoming %} class="selectedSideBarTitles" {% endif %}href="/exhibitions/upcoming">Upcoming Exhibitions</a></p>
            <p><a {% if exhibition.is_previous %} class="selectedSideBarTitles" {% endif %}href="/exhibitions/previous">Previous Exhibitions</a></p>
        </div>
     
    </div> <!-- end side bar  -->

    {% endblock %}

<div id="mainBar" class="col75">
    {% block exib_info %}
    <div class="exibMain">
        <h1>{{ exhibition.title }}</h1>
            {% if exhibition.oneliner %}
                <p class="smallestFont">{{ exhibition.oneliner }}</p>
            {% endif %}
            <br>
            <p>{{ exhibition.get_artists_string }}</p>
        <div class="smallestFont">
            {% if exhibition.is_same_year %}
            <p class="blue">{{ exhibition.start_date|date:"F j" }} to {{ exhibition.end_date|date:"F j, Y" }}</p>
            {% else %}   <!-- SANJ, make a provision for date for first also, incase December 11 2013 to Jan 11, 2014  -->
            <p class="blue">{{ exhibition.start_date|date:"F j, Y" }} to {{ exhibition.end_date|date:"F j, Y" }}</p>
            {% endif %}
            
            {% if exhibition.preview_date %}
            <p>Preview: {{ exhibition.preview_date|date:"F j, Y" }}</p>
            {% endif %}

            {% if exhibition.location %}
            <p>Location: Gallery Maskara</p>
            {% endif %}

        </div>
    </div> <!-- end exib main  -->
    
    <div class="anchorsExhibition">

        <a href="{{ url }}/overview">Overview</a>

        {% if exhibition.has_works %}
        <a href="{{ url }}/works">Works</a>
        {% endif %}

        {% if exhibition.has_artists %}
        <a href="{{ url }}/artists">Artists</a>
        {% endif %}

        {% if exhibition.has_press %}
        <a href="{{ url }}/press">Press</a>
        {% endif %}

        {% if exhibition.has_publications %}
        <a href="{{ url }}/publications">Publications</a>
        {% endif %}

        {% if exhibition.has_videos %}
        <a href="{{ url }}/videos">Videos</a>
        {% endif %}

    </div> <!-- end anchorsExhibition  -->    
    {% endblock %}

    {% block mainbar %}    
    {% endblock %}
</div> <!-- end main bar  -->

{% endblock %}

