{% extends 'exhibitionsbase.html' %}

{% block mainbar %}    
    <div class="exibMain">
        <h1>Glimpse of Thirst</h1>
            <p>Shine Shivam</p>
        <div class="smallestFont">
            <p class="blue">January 11 to February 28, 2013</p>   <!-- SANJ, make a provision for date for first also, incase December 11 2013 to Jan 11, 2014  -->
            <p>Preview: January 10, 2013</p>
        </div>
    </div> <!-- end exib main  -->
    
    <div class="anchorsExhibition">
        <a href="/exhibitions/exhib-name/works">Works</a>
        <a href="/exhibitions/exhib-name/artists" class="selectedAnchors">Artists</a>  
        <a href="/exhibitions/exhib-name/press">Press</a>
        <a href="/exhibitions/exhib-name/publications">Publications</a>
        <a href="/exhibitions/exhib-name/videos">Videos</a>
    </div> <!-- end anchorsExhibition  -->
    
    <div class="exhibBlockAnchors">
        
    </div> <!-- /exhibBlockAnchors -->

    <div class="thumbnailBlock">
        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
        </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
        </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news1.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news2.jpg" alt="">            
       </a>

        <a href="/selected" class="thumbEach col25">
            <p>Artist Name</p>
            <img src="/static/img/news3.jpg" alt="">            
       </a>
        
    </div> <!-- end thumbnail block  -->


    
{% endblock %}
