{% extends 'base.html' %}
{% load chunks %}
    {% block extra_css %}
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <style>
        .homeCarousel .flex-direction-nav .flex-next {
            background: url('../../static/img/next-home.png') no-repeat;
            padding: 2px;
        }
        
        .homeCarousel .flex-direction-nav .flex-prev {
            background: url('../../static/img/prev-home.png') no-repeat; /* #A7CF4F*/
            padding: 2px;
        }

        .homeCarousel .flex-direction-nav a {
            width: 164x;
            height: 25px;
            top: 62%;
        }
        
        .flex-direction-nav .flex-disabled {
            opacity: 0!important;
        }
        
        /* remove this later if using icon fonts  */   
    </style>
    {% endblock %}

    {% block extra_js %}
    <script src="/static/js/jquery.flexslider-min.js"></script>
    
    <script>
    $(document).ready(function() {
        $('.homeCarousel').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 150,
            itemMargin: 5,
            minItems: 2,
            maxItems: 4,
            controlNav: false
        });
    });
    </script>
    {% endblock %}


    {% block content %}
    
    <div class="sideBar col25">                
        <div class="sideBarTitles">
            <p>Current {{ main_item_type }}</p>
        </div>
        
    </div> <!-- end side bar  -->
    
    <div class="mainBar col75">
        <div id="contentHome">
            <div class="homeMain">
                <h1><a href="{{ main_item.url }}">{{ main_item.title }}</a></h1>
                    <p class="blue">{{ main_item.artists }}</p>
                <div class="smallestFont">
                    {% for line in main_item.text_lines %}
                    <p>{{ line }}</p>
                    {% endfor %}
                    <p>{{ main_item.start_date|date:"F d, Y" }} {% if main_item.end_date %} to {{ main_item.end_date|date:"F d, Y" }} {% endif %} 
                    <!-- <p>November 20 to December 29, 2012</p> -->
                </div>
                <a href="{{ main_item.url }}">
                    <img src="{{ main_item.large_image }}" alt="{{ main_item.title }}" id="homeMain">
                </a>    
            </div> <!-- end home main  -->
        </div> <!-- end content home  -->
        
        
    </div> <!-- end main bar  -->
    
    <div class="clear"></div>

    <div class="sideBar col25">                
        <div class="sideBarTitles">
            <p>News</p>
        </div>
    </div>

    <div class="mainBar col75">
        {% for item in items %}
        <div class="homeSecondary col33">
            <div class="smallestFont homeSecondaryText">
                <p class="title ellipsis" title="{{ item.title }}">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </p>
                {% if item.artists %}
                <p class="ellipsis">{{ item.artists }}</p>
                {% endif %}
                <p class="ellipsis">{{ item.start_date|date:"F d, Y" }} {% if item.end_date %} - {{ item.end_date|date:"F d, Y" }} {% endif %}</p>
            </div>
            <a href="{{ item.url }}">
                <img src="{{ item.thumb }}" alt="{{ item.title }}" class="homeSecondaryImg">
            </a>
        </div> <!-- end home secondary  -->

        {% endfor %}

    </div> <!-- end main bar  -->

    <div class="clear"></div>
    
    <div class="sideBar col25">
        <div class="sideBarTitles">
            <p>Publications</p>
        </div>
        
    </div> <!-- end sidebar  -->
    
    <div class="mainBar col75">
        
        <div class="flexslider homeCarousel">
        <ul class="slides">
            {% for p in publications %}
          <li>
            <div class="smallestFont homeCarouselText">
                <!-- <p>{{ p.publisher }}</p> -->
                <p><a href="{{ p.url }}">{{ p.title|truncatechars:34 }}</a></p>
            </div>
            <a href="{{ p.url }}">
                <img src="{{ p.image }}" />
            </a>
          </li>
            {% endfor %}
        </ul>
      </div> <!-- end flexslider  -->
      
      <div id="homeSecondaryText" class="smallestFont">
        {% chunk 'frontpage_publications_blurb' %}
      </div>
      <div class="clear"></div>            
    </div> <!-- end main bar  -->
    

    {% endblock %}
