{% extends 'base.html' %}

{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="/about/mission">Mission</a></p>
        <p><a href="/about/people">People</a></p>
        <p><a href="/about/press">Press</a></p>
        <p><a href="/about/space">Publications</a></p>
        <p><a href="/about/space">Space</a></p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <div id="aboutContent">
        <h1 class="selectedHeading">Exhibit and promote art of the present</h1>
        
        <div class="col70">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sunt quos facere sint reiciendis illo aliquam fugit tenetur soluta explicabo consectetur esse laudantium voluptatem eum ipsa alias blanditiis nam sit.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptatem nesciunt officia quos ipsam commodi quidem inventore quia reiciendis suscipit impedit voluptates itaque velit dicta animi labore asperiores. Sit modi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat fugiat omnis dolores soluta natus quaerat vitae odit ad facilis ipsam architecto consectetur ut magni a obcaecati? Aliquid odio aperiam consectetur?</p>
        </div>
    </div> <!-- end aboutContent  -->
</div> <!-- end main bar  -->
    
    
{% endblock %}
