{% extends 'base.html' %}

{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p><a href="/about/mission">Mission</a></p>
        <p><a href="/about/people">People</a></p>
        <p><a href="/about/press">Press</a></p>
        <p><a href="/about/space">Publications</a></p>
        <p><a href="/about/space">Space</a></p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <div id="aboutContent">
        <h1 class="selectedHeading">Exhibit and promote art of the present</h1>
        
    <div class="thumbnailBlock">
        <a href="/about/people/abhay-maskara" class="thumbEach col25">
            <p>Abhay Maskara</p>
            <img src="/static/img/news1.jpg" alt="">            
        </a>

        <a href="/about/people/rivka-sadarangani" class="thumbEach col25">
            <p>Rivka Sadarangani</p>
            <img src="/static/img/news2.jpg" alt="">            
        </a>
    </div> <!-- end thumbnail block  -->
</div> <!-- end main bar  -->
    
    
{% endblock %}
