{% extends 'artistbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
        <h1 class="selectedHeading">Gallery Maskara Volume 1</h1>
        
        <div class="exhibitionPrevBlock">

            <div class="publicationImg">
                <img src="/static/img/catalogue1.jpg" alt="">
            </div>
            <div class="publicationDesc">
                <p>March 2012</p>
                <p><strong>Metamorphosis</strong></p>
                <p>Author: Max Streicher</p>
                <p>Editor: Ewan Sanders</p>
                <p>Publisher: Zeldman Publications</p>
                <p>ISBN: 978-3-16-1345</p>
            </div>
            <br><br>
            <div class="col70 publicationDescMain richtext">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum enim officiis veniam minima consectetur inventore ad soluta laborum ipsa voluptatibus ex sequi sed magnam exercitationem odit ea tenetur dicta incidunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos magnam placeat eveniet delectus natus consectetur beatae ad aut veritatis. Quis aperiam eaque autem eligendi aliquam odit error incidunt ipsam ipsa.</p>
            </div>
            
            <div class="bioDownloadInfo col30 smallestFont">
                <p><a href="" class="downloadPdf">Download PDF</a></p>
            </div>
        <div class="clear"></div>

        </div> <!-- end exhib Prev Block --> 

    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
