{% extends 'aboutbase.html' %}

{% block mainbar %}

    <div id="aboutContent">
        <h1 class="selectedHeading">{{ publication.title }}</h1>
        
        <div class="exhibitionPrevBlock">

            <div class="publicationImg">
                <img src="{{ publication.list_image }}" alt="{{ publication.title }}">
            </div>
            <div class="publicationDesc">
                {% if publication.date %}
                <p>{{ publication.date|date:"%B %Y" }}</p>
                {% endif %}
                {% if publication.author %}
                <p>Author: {{ publication.author }}</p>
                {% endif %}
                {% if publication.editor %}
                <p>Editor: {{ publication.editor }}</p>
                {% endif %}
                {% if publication.publisher %}
                <p>Publisher: {{ publication.publisher }}</p>
                {% endif %}
                {% if publication.isbn %}
                <p>ISBN: {{ publication.isbn }}</p>
                {% endif %}
            </div>
            <br><br>

            <div class="col70 publicationDescMain richtext">
            {% if publication.description %}
                {{ publication.description }}
            {% endif %}
            </div>
            
            
            {% if publication.pdf %}
            <div class="bioDownloadInfo col30 smallestFont">
                <p><a href="{{ publication.pdf.url }}" target="_blank" class="downloadPdf">Download PDF</a></p>
            </div>
            {% endif %}
        <div class="clear"></div>

        </div> <!-- end exhib Prev Block --> 

    </div> <!-- end aboutContent  -->
    
    
{% endblock %}
