{% extends 'base.html' %}

{% block content %}


{% block mainbar %}

<div id="searchContent">
    <h1 class="selectedHeading">Search results for "Shine Shivan"</h1>
    
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="/about/mission">Artists</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
                <div class="searchEach">
                    <div class="searchImg">
                        <img src="/static/img/catalogue1.jpg" alt="">
                    </div>
                    <div class="searchInfo">
                        <p><strong>Shine Shivan</strong></p>
                        <p><a href="" class="smallerFont">View Details</a></p>
                    </div>
                </div> <!-- end searcheach -->    
        </div> <!-- /main bar -->
        <div class="clear"></div>
            
    </div> <!-- end search block --> 
            
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="/about/mission">Exhibitions</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
            <div class="searchEach">
                <div class="searchImg">
                    <img src="/static/img/image3.jpg" alt="">
                </div>
                <div class="searchInfo">
                    <p>2013</p>
                    <p><strong>Flavour Chart</strong></p>            
                    <p>Preview: Friday 27th September, 
                    <p>Show Dates: Thursday 8th August to Saturday 28th September</p>
                    <p>Location: Gallery Maskara</p>
                    <p><a href="" class="smallerFont">View Details</a></p>
                </div> <!-- end searchinfo -->    
            </div> <!-- /search each -->
        </div> <!-- /main bar -->

        <div class="clear"></div>
            
    </div> <!-- end search block --> 
        
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="/about/mission">Events</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
            <div class="searchEach">
                <div class="searchImg">
                    <img src="/static/img/image2.jpg" alt="">
                </div>
                <div class="searchInfo">
                    <p>2013</p>
                    <p><strong>Shine Shivan</strong></p>            
                    <p>Preview: Friday 27th September, 
                    <p>Show Dates: Thursday 8th August to Saturday 28th September</p>
                    <p>Location: Gallery Maskara</p>
                    <p><a href="" class="smallerFont">View Details</a></p>
                </div> <!-- end searchinfo -->    
            </div> <!-- /search each -->
        </div> <!-- /main bar -->

        <div class="clear"></div>
            
    </div> <!-- end search block --> 

    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="/about/mission">Press</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
            <div class="searchEach">
                <div class="searchInfo">
                    <p><em>Queer by Design</em> by Phalguni Desai</p>
                    <p>TimeOut Mumbai, Jan 7-16 2013</p>
                    <p><a href="" class="smallerFont">View Details</a></p>
                </div> <!-- end searchinfo -->    

            </div> <!-- /search each -->
        </div> <!-- /main bar -->

        <div class="clear"></div>
            
    </div> <!-- end search block --> 

</div> <!-- end search content  -->  
    
{% endblock %}

{% endblock %}
