{% extends 'base.html' %}

{% block content %}


{% block mainbar %}

<div id="searchContent">
    <h1 class="selectedHeading floatLeft">Search results for "{{ query }}"</h1>

<!--
    <div class="paginationThumbs smallestFont">    
        <span><a href="">First</a></span>
        <a href=""><span class="blue">1</span></a>
        
        <a href=""><span>2</span></a>

        <a href="?page=2"><span class="next-pag fontIcon">r</span></a>
        
        <span><a href="">Last</a></span>

    </div>
-->    
    <div class="clear"></div>
    {% if artist.object_list %}
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="#">Artists</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
                {% for item in artist.object_list %}
                <div class="searchEach">
                    <div class="searchImg">
                        <img src="{{ item.object.list_image }}" alt="{{ item.object.name }}">
                    </div>
                    <div class="searchInfo">
                        <p><strong>{{ item.object.name }}</strong></p>
                        <p><a href="{{ item.object.get_absolute_url }}" class="smallerFont">View Details</a></p>
                    </div>
                </div> <!-- end searcheach -->
                {% endfor %}    
        </div> <!-- /main bar -->
        <div class="clear"></div>
            
    </div> <!-- end search block --> 
    {% endif %}

    {% if exhibition.object_list %}
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="#">Exhibitions</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
            {% for item in exhibition.object_list %}
            <div class="searchEach">
                <div class="searchImg">
                    <img src="{{ item.object.get_list_image }}" alt="{{ item.object.title }}">
                </div>
                <div class="searchInfo">
                    <p>{{ item.object.start_date|date:"%Y" }}</p>
                    <p><strong>{{ item.object.title }}</strong></p>            
                    {% if item.object.preview_date %}
                    <p>Preview: {{ item.object.preview_date|date:"l jS F" }}, 
                        {% if item.object.preview_start_time %}
                            {{ item.object.preview_start_time|time:"P" }}
                            {% if item.object.preview_end_time %}
                            -{{ item.object.preview_end_time|time:"P" }}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <p>Show Dates: {{ item.object.start_date|date:"l jS F" }} to {{ item.object.end_date|date:"l jS F" }}</p>
                    <p>Location: {{ item.object.location }}</p>
                    <a href="{{ item.object.get_absolute_url }}" class="smallerFont">View Details</a>
            </div> <!-- /search each -->
            {% endfor %}
        </div> <!-- /main bar -->

        <div class="clear"></div>
            
    </div> <!-- end search block --> 
    {% endif %}

    {% if event.object_list %}
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="/about/mission">Events</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
            {% for item in event.object_list %}
            <div class="searchEach">
                <div class="searchImg">
                    <img src="{{ item.object.get_list_image }}" alt="{{ item.object.title }}">
                </div>
                <div class="searchInfo">
                    <p>{{ item.object.date|date:"Y" }}</p>
                    <p><strong>{{ item.object.title }}</strong></p>
                    <p>{{ item.object.date|date:"l jS F" }}, {{ item.object.start_time|time:"P" }}{% if item.object.end_time %}-{{ item.object.end_time|time:"P" }}{% endif %}</p>
                    <!-- <p>Location: Gallery Maskara</p> -->
                    {% if item.object.location %}
                    <p>Location: {{ item.object.location }}</p>
                    {% endif %}
                    <a href="{{ item.object.get_absolute_url }}" class="smallerFont">View Details</a>
                </div> <!-- end searchinfo -->    
            </div> <!-- /search each -->
            {% endfor %}
        </div> <!-- /main bar -->

        <div class="clear"></div>
            
    </div> <!-- end search block --> 
    {% endif %}

    {% if press %}
    <div class="searchBlock">
        <div class="sideBar col25">
            <div class="sideBarTitles">
                <div><a href="/about/mission">Press</a></div>
            </div>
        </div> <!-- /sidebar -->
    
        <div class="mainBar col75">
            <div class="searchEach">
                <div class="searchInfo">
                    <p>2012</p>
                    <p><em>Queer by Design</em> by Phalguni Desai</p>
                    <p>TimeOut Mumbai, Jan 7-16 2013</p>
                    <p><a href="" class="smallerFont">View Details</a></p>
                </div> <!-- end searchinfo -->    
            </div> <!-- /search each -->

            <div class="searchEach">
                <div class="searchInfo">
                    <p>2011</p>
                    <p><em>Queer by Design</em> by Phalguni Desai</p>
                    <p>TimeOut Mumbai, Jan 7-16 2013</p>
                    <p><a href="" class="smallerFont">View Details</a></p>
                </div> <!-- end searchinfo -->    
            </div> <!-- /search each -->

        </div> <!-- /main bar -->

        <div class="clear"></div>
            
    </div> <!-- end search block --> 
    {% endif %}

</div> <!-- end search content  -->  
    

{% endblock %}
{% endblock %}