{% extends 'base.html' %}


{% block content %}

<div id="sideBar" class="col25">
    
    <div class="sideBarTitles">
        <p>Selected Work</p>
        <p>Available Work</p>
        <p>Exhibitions</p>
        <p>Biography</p>
        <p>Press</p>
        <p>Publications</p>
        <p>News</p>
        <p>Talks</p>
    </div>
    
</div> <!-- end side bar  -->

<div id="mainBar" class="col75">
    <div id="selectedThumbs">
        <h1 class="selectedThumbsHeading">Max Streicher</h1>
        <div class="paginationThumbs blue smallestFont">
            <span>1</span>
            <span>2</span>
            <span>3...</span>
            
        </div> <!-- end pagination thumbs  -->
        
        <div class="clear"></div>
        
        <div class="thumbnailBlock">
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected2.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected3.jpg" alt="">            
            </div>
            
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected2.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected3.jpg" alt="">            
            </div>
            
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected2.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected3.jpg" alt="">            
            </div>
            
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected1.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected2.jpg" alt="">            
            </div>
    
            <div class="thumbEach col25">
                <img src="/static/img/selected3.jpg" alt="">            
            </div>
            
    
        </div> <!-- end thumbnail block  -->
    </div> <!-- end selected thumbs  -->            
    
</div> <!-- end main bar  -->
            


{% endblock %}
