{% extends 'base.html' %}

{% block content %}

    {% block mainbar %}
        <div class="privacyBlock">
            <h1 class="selectedHeading">Terms and Conditions</h1>
            <p><strong>Introduction</strong></p>

            <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
            
            <br>
            
            <p><strong>License to use website</strong></p>

            <p>Unless otherwise stated, and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>

            <p>You may view, download for caching purposes only, and print pages [or [OTHER CONTENT]] from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
        <br>

        <p>You must not:</p>
        <ul>
            <li>republish material from this website (including republication on another website);</li>
            <li>sell, rent or sub-license material from the website;</li>
            <li>show any material from the website in public;</li>
            <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
            <li>edit or otherwise modify any material on the website; or redistribute material from this website [except for content specifically and expressly made available for redistribution].</li>
            <li>Where content is specifically made available for redistribution, it may only be redistributed [within your organisation].</li>
        </ul>
        
        <br>
        
        <p><strong>Acceptable use</strong></p>

        <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>

        <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>

        <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without [NAME'S] express written consent.</p>

        <p>You must not use this website to transmit or send unsolicited commercial communications.</p>

        <p>You must not use this website for any purposes related to marketing without GALLERY MASKARA's express written consent.</p>
        <br>
            
        <p><strong>No warranties</strong></p>
        <ul>
            <li>This website is provided "as is" without any representations or warranties, express or implied. GALLERY MASKARA makes no representations or warranties in relation to this website or the information and materials provided on this website.</li>

            <li>Without prejudice to the generality of the foregoing paragraph, GALLERY MASKARA does not warrant that:</li>

            <li>this website will be constantly available, or available at all; or</li>

            <li>the information on this website is complete, true, accurate or non-misleading.</li>
        </ul>
        
        <br>
        
        <p><strong>Limitations of liability</strong></p>

        <p>GALLERY MASKARA will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>

        <p>to the extent that the website is provided free-of-charge, for any direct loss;</p>

        <p>for any indirect, special or consequential loss; or</p>

        <p>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</p>

        <p>These limitations of liability apply even if GALLERY MASKARA has been expressly advised of the potential loss.</p>
        
        <br>
        
        <p><strong>Reasonableness</strong></p>

        <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
        
        <p>If you do not think they are reasonable, you must not use this website.</p>
        
        <br>
        
        <p><strong>Other parties</strong></p>
    
        <p>[You accept that, as a limited liability entity, GALLERY MASKARA has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against GALLERY MASKARA'S officers or employees in respect of any losses you suffer in connection with the website.</p>
        
        <p>Without prejudice to the foregoing paragraph,] you agree that the limitations of warranties and liability set out in this website disclaimer will protect GALLERY MASKARA'S officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as GALLERY MASKARA.</p>
        
        <br>

        <p><strong>Unenforceable provisions</strong></p>
        
        <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
        
        <br>

        <p><strong>Indemnity</strong></p>

        <p>You hereby indemnify GALLERY MASKARA and undertake to keep GALLERY MASKARA indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by GALLERY MASKARA to a third party in settlement of a claim or dispute on the advice of GALLERY MASKARA'S legal advisers) incurred or suffered by GALLERY MASKARA arising out of any breach by you of any provision of these terms and conditions [, or arising out of any claim that you have breached any provision of these terms and conditions].</p>
        
        <br>

        <p><strong>Breaches of these terms and conditions</strong></p>
        
        <p>Without prejudice to GALLERY MASKARA'S other rights under these terms and conditions, if you breach these terms and conditions in any way, GALLERY MASKARA may take such action as GALLERY MASKARA deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
        
        <br>

        <p><strong>Variation</strong></p>
        
        <p>GALLERY MASKARA may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>
        
        <br>

        <p><strong>Assignment</strong></p>
        
        <p>GALLERY MASKARA may transfer, sub-contract or otherwise deal with GALLERY MASKARA'S rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
        
        <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
        
        <br>

        <p><strong>Severability</strong></p>
        
        <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
        
        <br>

        <p><strong>Entire agreement</strong></p>
        
        <p>These terms and conditions together with [DOCUMENTS],] constitute the entire agreement between you and GALLERY MASKARA in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
        
        <br>

        <p><strong>Law and jurisdiction</strong></p>
        
        <p>These terms and conditions will be governed by and construed in accordance with INDIAN LAW, and any disputes relating to these terms and conditions will be subject to the [non-] exclusive jurisdiction of the courts of INDIA</p>
        
        <br>

        <p><strong>About these website terms and conditions</strong></p>
        
        <p>This document is based on a Contractology precedent available at <a href="http://www.freenetlaw.com/">www.freenetlaw.com</a>. You can purchase a wide range of commercial legal documents via the <a href="http://www.contractology.com/">Contractology</a> website.</p>
        </div> <!-- /privacy block -->
    {% endblock %}

{% endblock %}
